@model PlayZone.Web.ViewModels.Videos.VideoDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
    <h1>@Model.Title</h1>
</div>
<hr />
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="@Model.EmbedVideoUrl" frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-2">
        <a asp-controller="Chanels" asp-action="Details" asp-route-id="@Model.ChanelId"><img src="@Model.EmbedChanelImageUrl" /></a>
    </div>
    <div class="col-md-3">
        <p class="card-text">
            Chanel: <a asp-controller="Chanels" asp-action="Details" asp-route-id="@Model.ChanelId">@Model.ChanelTitle</a>
        </p>
    </div>

    @if (this.User != null)
    {
        <div class="col-md-7">
            <div class="container row">
                <div class="border col-md-1 text-center">
                    <form id="votesForm" method="post"></form>
                    <div class="">
                        <a href="#votesForm" onclick="sendVote('@Model.Id', true)">
                            <i class="fa fa-thumbs-up"></i>
                        </a>
                    </div>
                    <div class="" id="upVotesCount">@Model.UpVotesCount</div>
                    <div class="">
                        <a href="#votesForm" onclick="sendVote('@Model.Id', false)">
                            <i class="fa fa-thumbs-down"></i>
                        </a>
                    </div>

                    <div class="" id="downVotesCount">@Model.DownVotesCount</div>
                </div>
                <div class="col-md-3 border text-center">
                    <p>Add to Favorites:</p>
                    <a href="#"><i class="fas fa-heart"></i></a>
                </div>

                <div class="col-md-3 border text-center">
                    <p>Created On: @Model.CreatedOn.ToShortDateString()</p>
                </div>
            </div>
        </div>
    }
</div>
<br />
<h5>Descaription:</h5>
<hr />
<p>@Model.Description</p>


@section Scripts {
    <script>
        function sendVote(videoId, isUpVote) {
            var token = $("#votesForm input[name=__RequestVerificationToken]").val();
            var json = { videoId: videoId, isUpVote: isUpVote };
            $.ajax({
                url: "/api/votes",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    $("#upVotesCount").html(data.upVotesCount);
                    $("#downVotesCount").html(data.downVotesCount);

                }
            });
        }
    </script>

}
