@model PlayZone.Web.ViewModels.Home.IndexViewModel
@using PlayZone.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="row">

    @foreach (var video in Model.Videos)
    {
        <div class="col-lg-4 col-md-12">

            <!--Card Wider-->
            <div class="card card-cascade wider">

                <!--Card image-->
                <div class="view view-cascade overlay">
                    <a asp-controller="Videos" asp-action="Details" asp-route-id="@video.Id">
                        <img src="@video.EmbedVideoImageUrl" class="card-img-top"
                             alt="wider">
                    </a>

                </div>
                <!--/Card image-->
                <!--Card content-->
                <div class="card-body card-body-cascade text-center">
                    <!--Title-->
                    <a asp-controller="Videos" asp-action="Details" asp-route-id="@video.Id"><h4 class="card-title"><strong>@video.Title</strong></h4></a>
                    <hr />
                    <div class="row">
                        <div class="col-md-3">
                            <a  asp-controller="Chanels" asp-action="Details" asp-route-id="@video.ChanelId"><img src="@video.EmbedChanelImageUrl" /></a>
                        </div>
                        <div class="col-md-9">
                            <p class="card-text">
                                Chanel: @video.ChanelTitle
                            </p>
                        </div>
                    </div>
                    <p class="card-text">
                       Before: @video.AddBefore
                    </p>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card Wider-->

        </div>
    }
</div>