@model PlayZone.Web.ViewModels.Libraries.History.HistoryLibraryViewModel
@{
    ViewData["Title"] = "History";
}

<h1>History</h1>
<br />

@foreach (var video in Model.Videos)
{
    <div class="row">
        <div class="col-md-4">
            <a asp-controller="Videos" asp-action="Details" asp-route-id="@video.VideoId">
                <img class="card-img" src="@video.VideoImageUrl" alt="Card image cap">
            </a>
        </div>
        <div class="col-md-4">
            <a class="text-dark" asp-controller="Videos" asp-action="Details" asp-route-id="@video.VideoId">
                <h5>@video.VideoTitle</h5>
            </a>
            <a class="text-dark" asp-controller="Chanels" asp-action="Details" asp-route-id="@video.VideoChanelId">
                <p>Chanel: @video.VideoChanelTitle</p>
            </a>
            <br />
            <p>@video.ShortDescription</p>
        </div>
        <div class="col-md-1">
            <a class="text-dark" asp-controller="Libraries" asp-action="DeleteFromHistory" asp-route-id="@video.VideoId">
                <span  class="btn btn-lg">&times;</span>
                
            </a>
        </div>
    </div>
    <hr />
}