@model PlayZone.Web.ViewModels.Channels.ChannelDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="text-center">

    @if (Model.ImageUrl != null)
    {
        <div class="container">
            <div>

                <img src="@Model.EmbedChannelImageUrl" class="img-fluid">
            </div>
        </div>
    }
    else
    {

        <form class="md-form">
            <div class="file-field">
                <div class="z-depth-1-half mb-4">
                    <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" width="958" height="339" class="img-fluid"
                         alt="example placeholder">
                </div>

            </div>
        </form>
    }

    @if (Model.IsCreator)
    {
        <div class="row justify-content-center">

            <a class="col-md-2 text-center btn btn-primary mr-1 mt-1" asp-controller="channels" asp-action="ImageUpload" asp-route-id="@Model.Id">Change Image</a>

            <a class="col-md-2 text-center btn btn-primary mr-1 mt-1" asp-controller="channels" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        </div>
    }
    <br />
    <br />
    <div class="row justify-content-center">
        <h1>@Model.Title</h1>
    </div>
    <hr />
    <div class="row d-flex justify-content-center">

        <a class="col-md-2 text-center btn btn-primary mr-1 mt-1" asp-controller="Channels" asp-action="Videos" asp-route-id="@Model.Id">Videos</a>
        <a class="col-md-2 text-center btn btn-primary mr-1 mt-1" asp-controller="Channels" asp-action="Description" asp-route-id="@Model.Id">Description</a>
        @if (Model.IsCreator)
        {
            <a class="col-md-2 text-center btn btn-primary mr-1 mt-1" asp-controller="Videos" asp-action="Create" asp-route-id="@Model.Id">Add Video</a>
        }

    </div>
</div>