@model PlayZone.Web.ViewModels.Channels.ChannelDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="text-center">

        <div class="d-flex justify-content-center">
            <div class="row">
                <img  src="@Model.EmbedChannelImageUrl" class="img-fluid">
            </div>
        </div>


    @if (Model.IsCreator)
    {
        <div class="row justify-content-center">

            <a class="col-md-2 text-center btn btn-primary mr-1 mt-1" asp-controller="channels" asp-action="ImageUpload" asp-route-id="@Model.Id">Change Image</a>

            <a class="col-md-2 text-center btn btn-primary mr-1 mt-1" asp-controller="channels" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        </div>
    }
    <br />
    <br />
    <div class="row justify-content-center">
        <h1>@Model.Title</h1>
    </div>
    <hr />
    <div class="row d-flex justify-content-center">

        <a class="col-md-2 text-center btn btn-primary mr-1 mt-1" asp-controller="Channels" asp-action="Videos" asp-route-id="@Model.Id">Videos</a>
        <a class="col-md-2 text-center btn btn-primary mr-1 mt-1" asp-controller="Channels" asp-action="Description" asp-route-id="@Model.Id">Description</a>
        @if (Model.IsCreator)
        {
            <a class="col-md-2 text-center btn btn-primary mr-1 mt-1" asp-controller="Videos" asp-action="Create" asp-route-id="@Model.Id">Add Video</a>
        }

    </div>
</div>